* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board {
  width: calc(80px * 8);
  height: calc(80px * 8);
  display: flex;
  flex-wrap: wrap;
}

.Cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell img{
  width: 70px;
  height: 70px;
  position: relative;
}

.Black {
  background-color: #765b45;
}

.White {
  background-color: #e0b78a;
}
